HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### dev properties ignore ###
/src/main/resources/application-dev.properties

### Qclass ignore ###
/src/main/generated/com/sparta/springtrello/domain/attachment/entity/QAttachmentEntity.java
/src/main/generated/com/sparta/springtrello/domain/board/entity/QBoardEntity.java
/src/main/generated/com/sparta/springtrello/domain/card/entity/QCardEntity.java
/src/main/generated/com/sparta/springtrello/domain/comment/entity/QCommentEntity.java
/src/main/generated/com/sparta/springtrello/domain/common/entity/QTimestamped.java
/src/main/generated/com/sparta/springtrello/domain/list/entity/QListEntity.java
/src/main/generated/com/sparta/springtrello/domain/member/entity/QMemberEntity.java
/src/main/generated/com/sparta/springtrello/domain/notification/entity/QNotificationEntity.java
/src/main/generated/com/sparta/springtrello/domain/notification/entity/QNotificationSettingEntity.java
/src/main/generated/com/sparta/springtrello/domain/search/entity/QSearchEntity.java
/src/main/generated/com/sparta/springtrello/domain/user/entity/QUserEntity.java
/src/main/generated/com/sparta/springtrello/domain/workspace/entity/QWorkspaceEntity.java
